<% if flash[:notice] %>
  <h2 class="text-center"><%= flash[:notice] %></h2>
<% end %>

<div class="container text-center" style="padding-bottom: 10px;">  
  <h3>Produto <%= @product_model.name %></h3>

  <p>Fornecedor: <%= @product_model.supplier.brand_name %></p>
  <p>Peso: <%= @product_model.weight %></p>
  <p>Largura: <%= @product_model.width %></p>
  <p>Altura: <%= @product_model.height %></p>
  <p>Profundidade: <%= @product_model.depth %></p>
  <p>SKU: <%= @product_model.sku %></p>

  <%= link_to 'Voltar', product_models_path %>
</div>


