<div>
  <%= flash[:notice] %>
</div>

<div>
  <%= I18n.translate("hello") %>
</div>
<%= link_to "Cadastrar Galpão", new_warehouse_path, class: "d-block text-center" %>
<section id="warehouses" class="container">  
  <h3 style="text-align: center;">Galpões</h3>

  <% if @warehouses.empty? %>
    <p>Não existem galpões cadastrados</p>
  <% end %>

  <% @warehouses.each do |warehouse| %>
    <div class="container-item">
      <%= link_to "#{ warehouse.name }", warehouse %>
      <span>Código: <%= warehouse.code %></span>
      <span>Cidade: <%= warehouse.city %></span>
      <span><%= warehouse.area %> m2</span>
    </div>    
  <% end %>

</section>
