<h3 class="text-center" style="color: green;">
  <%= flash[:notice] %>
</h3>

<div class="d-flex justify-content-center" style="margin-bottom: 1rem;">  
  <%= link_to "Cadastrar Galpão", new_warehouse_path, class: "button" %>
</div>

<section id="warehouses" class="container">  
  <h3 class="text-center">Galpões</h3>

  <% if @warehouses.empty? %>
    <p class="text-center">Não existem galpões cadastrados</p>
  <% end %>

  <% @warehouses.each do |warehouse| %>
    <div class="container-item">
      <%= link_to "#{ warehouse.name }", warehouse %>
      <span>Código: <%= warehouse.code %></span>
      <span>Cidade: <%= warehouse.city %></span>
      <span><%= warehouse.area %> m2</span>
    </div>    
  <% end %>

</section>
