<h3 class="text-center" style="color: green;">
  <%= flash[:notice] %>
</h3>

<div class="d-flex justify-content-center" style="margin-bottom: 1rem;">  
  <%= link_to "Cadastrar Galp찾o", new_warehouse_path, class: "button" %>
</div>

<section id="warehouses" class="container">  
  <h3 class="text-center">Galp천es</h3>

  <% if @warehouses.empty? %>
    <p class="text-center">N찾o existem galp천es cadastrados</p>
  <% end %>

  <% @warehouses.each do |warehouse| %>
    <%= link_to warehouse, class: "card w-50 mx-auto mb-3 text-decoration-none" do %>
      <div class="card-body">
        <h5 class="card-title"><%= warehouse.name %> - <%= warehouse.code %></h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Cidade: <%= warehouse.city %></h6>
        <p class="card-text"><%= warehouse.description %></p>
        <span><%= warehouse.area %> m2</span>
      </div>
    <% end %>
  <% end %>

</section>
