<section class="container">
  <h3 class="text-center"><%= Order.model_name.human(count: @orders.count) %></h3>

  <% if @orders.empty? %>
    <p class="text-center">Não existem pedidos cadastrados</p>
  <% end %>

  <% @orders.each do |order| %>
    <%= link_to order, class: "container-item d-flex justify-content-between" do %>
      <%= content_tag(:span, order.supplier.brand_name) %>
      <%= content_tag(:span, order.warehouse.code) %>
    <% end %>
  <% end %>

  <%= link_to "Voltar", orders_path, class: "d-block text-center", style: "color: blue; font-size: 1.25rem; margin-bottom: 0.75rem; margin-top: 0.75rem;" %>
</section>
