<%= form_with(model: @supplier, class: "container text-center mt-3") do |form| %> 
  <%= link_to "Voltar", suppliers_path, class: "btn btn-secondary mb-3" %>
  <div class="form-floating mb-2 w-50 mx-auto">
    <%= form.text_field :corporate_name, class: "form-control" %>
    <%= form.label :corporate_name %>
  </div>
  <div class="form-floating mb-2 w-50 mx-auto">
    <%= form.text_field :brand_name, class: "form-control" %>
    <%= form.label :brand_name %>
  </div>
  <div class="form-floating mb-2 w-50 mx-auto">
    <%= form.text_field :employer_identification_number, class: "form-control" %>
    <%= form.label :employer_identification_number %>
  </div>
  <div class="form-floating mb-2 w-50 mx-auto">
    <%= form.text_field :address, class: "form-control" %>
    <%= form.label :address %>
  </div>
  <div class="form-floating mb-2 w-50 mx-auto">
    <%= form.text_field :city, class: "form-control" %>
    <%= form.label :city %>
  </div>
  <div class="form-floating mb-2 w-50 mx-auto">
    <%= form.text_field :cep, class: "form-control" %>
    <%= form.label :cep %>
  </div>
  <div class="form-floating mb-2 w-50 mx-auto">
    <%= form.text_field :email, class: "form-control" %>
    <%= form.label :email %>
  </div>
  <div class="">
    <%= form.submit %>
  </div>
<% end %>
