<h3 class="text-center" style="color: green;">
  <%= flash[:notice] %>
</h3>

<div class="d-flex justify-content-center" style="margin-bottom: 1rem;">  
  <%= link_to "Cadastrar Fornecedor", new_supplier_path, class: "button" %>
</div>

<section class="container">
  <h3 class="text-center">Fornecedores</h3>

  <% if @suppliers.empty? %>
    <p class="text-center">Não existem fornecedores cadastrados</p>
  <% end %>

  <% @suppliers.each do |supplier| %>
    <%= link_to supplier, class: "container-item d-flex justify-content-between" do %>
      <%= content_tag(:span, supplier.brand_name) %>
      <%= content_tag(:span, supplier.city) %>
    <% end %>
  <% end %>
</section>
