<h3>Galpão <%= @warehouse.code %></h3>

<span>Nome: <%= @warehouse.name %></span>
<span>Cidade: <%= @warehouse.name %></span>
<span>Área: <%= @warehouse.area %> m2</span>
<span>Endereço: <%= @warehouse.address %> CEP: <%= @warehouse.cep %></span>
<span><%= @warehouse.description %></span>

<%= link_to 'Voltar', root_path %>
