<div class="container text-center" style="padding-bottom: 10px;">  
  <h3>Galpão <%= @warehouse.code %></h3>

  <p>Nome: <%= @warehouse.name %></p>
  <p>Cidade: <%= @warehouse.name %></p>
  <p>Área: <%= @warehouse.area %> m2</p>
  <p>Endereço: <%= @warehouse.address %> CEP: <%= @warehouse.cep %></p>
  <p><%= @warehouse.description %></p>

  <%= link_to 'Editar Galpão', edit_warehouse_path(@warehouse) %>

  <%= link_to 'Voltar', root_path %>
</div>
