<nav class="nav">
  <%= link_to "Galpões & Estoque", root_path, class: "nav-item bold", style: "font-size: 1.50rem;" %>
  <%= link_to "Galpões", root_path, class: "nav-item" %>
  <%= link_to "Fornecedores", suppliers_path, class: "nav-item" %>
  <%= link_to "Produtos", product_models_path, class: "nav-item" %>
  <%= link_to "Pedidos", orders_path, class: "nav-item" %>
  <% if user_signed_in? %>
    <%= button_to "Sair", destroy_user_session_path, method: :delete, class: "nav-item button", style: "font-size: 1rem; padding: 8px 15px;" %>
    <%= current_user.email %>
  <% else %>
    <%= link_to "Entrar", new_user_session_path, class: "nav-item button" %>
  <% end %>
</nav>
