<nav class="nav">
  <%= link_to "Galpões & Estoque", root_path, class: "nav-item bold", style: "font-size: 1.50rem;" %>
  <%= link_to "Galpões", root_path, class: "nav-item" %>
  <%= link_to "Fornecedores", suppliers_path, class: "nav-item" %>
  <%= link_to "Produtos", product_models_path, class: "nav-item" %>
  <%= link_to "Pedidos", orders_path, class: "nav-item" %>
  <% if user_signed_in? %>
    <%= form_with(url: search_orders_path, method: :get, class: "nav-item") do |f| %>
      <%= f.text_field :query, placeholder: 'Buscar Pedido' %>
      <%= f.submit "Buscar", class: "nav-item" %>
    <% end %>
    <%= button_to "Sair", destroy_user_session_path, method: :delete, class: "nav-item button login", style: "font-size: 1rem; padding: 8px 15px;" %>
    <%= current_user.email %>
  <% else %>
    <%= link_to "Entrar", new_user_session_path, class: "nav-item button login" %>
  <% end %>
</nav>
